<body>
    <div class='align-card'>
        <div class='card-acessibility'>
            <div class='card-info-hover'>
                <strong>Net value</strong>
                <p>$ 1.456.234,09</p>
            </div>
        </div>
    </div>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
    
    * {
        margin: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }

    .align-card, .card-acessibility, .card-info-hover {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .card-acessibility {
        flex-direction: column;
        
        height: 120px;
        width: 100%;
        max-width: 200px;
        margin-top: 1rem;
        
        background: white;
        
        border: 1px solid rgba(136, 136, 136, 0.1);
        box-shadow: 0px 0px 2px 1px rgba(133, 133, 133, 0.1);
        border-radius: 11px; /* Raio da borda */
        
        transition: .3s ease-in-out;
    }

    .card-acessibility p {
        margin-top: .8rem;
    }

    .card-info-hover {
        flex-direction: column;
        
    }

    .align-card:hover .card-acessibility {
        box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
        transform: scale(1.04);
    }

</style>