<!-- Componente OpenXBI, ajude-nos compartilhando nossa plataforma -->
<!-- https://openxbi.com.br -->
<div class='card-content'>
    <div class='flip-card-rotate'>
        <div class='card-front'>
            <strong>TPV 2022</strong> <!-- Título card back -->
            <p class='value'>$ 2,5 BI</p> <!-- valor card back -->
            <span>jan - dec</span> <!-- tooltip -->
        </div>
        <div class='card-back'>
            <strong>TPV 2023</strong> <!-- Título card front -->
            <p class='value'>$ 1,7 Bi</p> <!-- valor card front -->
            <span>until - march-2023</span> <!-- tooltip -->
        </div>
    </div>  
    <div class='target-card'>
        <p>2023: <strong>68%</strong> of target</p> <!-- card oculto -->
    </div>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    color: #111; /* Cor da font valores */
    margin: 0;
    box-sizing: border-box;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: .5rem;
}

.flip-card-rotate {
    display: flex;
    justify-content: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    z-index: 1;
}

.flip-card-rotate p {
    margin: .75rem 0;
}

.card-front, .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: absolute;

    width: 200px; /* Largura do card */
    height: 120px; /* altura do card */
    
    border: 1px solid rgba(136, 136, 136, 0.1);
    box-shadow: 1px 1px 2px 1px rgba(133, 133, 133, 0.1);
    border-radius: 11px; /* Raio da borda */
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    background: white; /* cor de fundo do card */
}

span {
    font-size: 0.700rem;
    font-weight: 500;
    color: #3416e3; /* Cor do texto menor */
}

.card-content:hover .flip-card-rotate {
    transform: rotateY(180deg);
}

.card-front {
    transform: rotateY(180deg);
}

.target-card {
    font-size: 0.875rem;

    height: auto;
    padding: .5rem 1rem;

    background: white;

    border: 1px solid rgba(136, 136, 136, 0.1);
    box-shadow: 1px 1px 2px 1px rgba(133, 133, 133, 0.1);
    border-radius: 8px; /* Raio da borda */
    
    opacity: 0;
    transition: all 200ms;

    z-index: 0;
}

.card-content:hover .target-card {
    opacity: 1;
    transform: translateY(130px);
}

</style>
