<!-- Componente OpenXBI, ajude-nos compartilhando nossa plataforma -->
<!-- https://openxbi.com.br -->
<div class='card'>
    <div class='header'>Skills</div>
    <div class='body'> <!-- Abaixo a estrutura se repete -->
      <div class='skill'>
        <div class='skill-name'>DAX</div> <!--Nome da Skill-->
        <div class='skill-level'> 
          <div class='skill-percent' style='width: 90%'></div> <!-- % de conhecimento barra -->
        </div>
        <div class='skill-percent-number'>90%</div> <!-- % de conhecimento valor de exibição -->
      </div>
      <div class='skill'>
        <div class='skill-name'>PQuery M</div>
        <div class='skill-level'>
          <div class='skill-percent' style='width: 80%'></div>
        </div>
        <div class='skill-percent-number'>80%</div>
      </div>
      <div class='skill'>
        <div class='skill-name'>HTML</div>
        <div class='skill-level'>
          <div class='skill-percent' style='width: 80%'></div>
        </div>
        <div class='skill-percent-number'>80%</div>
      </div>
      <div class='skill'>
        <div class='skill-name'>CSS</div>
        <div class='skill-level'>
          <div class='skill-percent' style='width: 60%'></div>
        </div>
        <div class='skill-percent-number'>60%</div>
      </div>
    </div>
  </div>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.card {
  font-family: 'Inter', sans-serif; /* Font Inter, remova para exibir font nativa do PowerBI - SegoeUI */
  width: 290px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background-color: #f7f7f7;
  color: #000;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.body {
  padding: 20px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 80px;
  font-size: .875rem;
}

.skill-level {
  width: 140px;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background: linear-gradient(45deg, #2fb3d8, #29a2e3);
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 0.875rem;
}
</style>