<div class='card-container'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons:FILL'>
    <div class='card-info'>
        <strong>Amout Received
        </strong>
        <strong>R$ 5.689.988,00</strong>
        <p>hover me</p>
    </div>
    <div class='card-hidden'>
        <p><span class='material-icons' style='font-size:1rem; font-weight: bold;'>swap_vert</span><strong> transactions:</strong> 4569</p>
        <p><span class='material-icons' style='font-size:1rem; font-weight: bold; color: green'>expand_less</span><strong> max:</strong> R$ 84.234,09</p>
        <p><span class='material-icons' style='font-size:1rem; font-weight: bold; color: red'>expand_more</span><strong> min:</strong> R$ 1.545,00</p>
        <p><span class='material-icons' style='font-size:1rem; font-weight: bold;'>percent</span><strong> annual target:</strong> 59%</p>
        <p><span class='material-icons' style='font-size:1rem; font-weight: bold;'>calendar_month</span><strong> last month:</strong> R$ 12.589.099,10</p>
        
    </div>
</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    -webkit-font-smoothing: antialiased;
}

.card-container {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    color: #111;
}

.card-container,
.card-info,
.card-hidden {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info {
    flex-direction: column;
    
    width: 200px;
    height: 120px;

    background: white;
    border-radius: 11px;
    border: 1px solid rgba(136, 136, 136, 0.1);
    box-shadow: 1px 1px 2px 1px rgba(133, 133, 133, 0.1);
}

.card-info p {
    margin: 0.3rem 0;
    color: #3416e3;
    font-weight: bold;
    font-size: .8rem;
}

.card-info strong {
    margin: 0.3rem 0;
    font-weight: bold;
}

.card-hidden {
    position: absolute;
    margin: 0;
    height: auto;
    padding: 0 1.5rem;

    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    
    opacity: 0;
    
    background: white;
    border-radius: 11px;
    border: 1px solid rgba(110, 110, 110, 0.1);
    box-shadow: 1px 1px 2px 1px rgba(110, 110, 110, 0.1);

    transform: translateY(0px);
    transition: .3s;
}

.card-hidden p {
    margin: .5rem 0;
}

.card-container:hover>.card-hidden {
    animation: fadeUp 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(130px);
    }
}

</style>