<!-- Componente OpenXBI, ajude-nos compartilhando nossa plataforma -->
<!-- https://openxbi.com.br -->
<div class='chart-container'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons:FILL'>
    
    <div class='chart-content'>
        <div class='title'>
            <!-- Visite https://fonts.google.com/icons?icon.set=Material+Icons para trocar icones no código -->
            <span class='material-icons' style='font-size:1rem; font-weight: bold;'>timeline</span>
            <strong>Peak hour</strong>
        </div>
        
        <div class='hour-card'>
            <div class='hour'>08:00</div> <!-- HORA -->
            <div class='quantity8h'></div><small>101</small>  <!-- VALOR -->
        </div>
        <div class='hour-card'>
            <div class='hour'>09:00</div>
            <div class='quantity9h'></div><small>90</small>
        </div>
        <div class='hour-card'>
            <div class='hour'>11:00</div>
            <div class='quantity10h'></div><small>89</small> 
        </div>
        <div class='hour-card'>
            <div class='hour'>11:00</div>
            <div class='quantity11h'></div><small>103</small>
        </div>
        <div class='hour-card'>
            <div class='hour'>12:00</div>
            <div class='quantity12h'></div><small>83</small> 
        </div>
        <div class='hour-card'>
            <div class='hour'>13:00</div>
            <div class='quantity13h'></div><small>102</small>
        </div>
        <div class='hour-card'>
            <div class='hour'>14:00</div>
            <div class='quantity14h'></div><small>77</small>
        </div>
        <div class='hour-card'>
            <div class='hour'>15:00</div>
            <div class='quantity15h'></div><small>74</small>
        </div>
        <div class='hour-card'>
            <div class='hour'>16:00</div>
            <div class='quantity16h'></div><small>93</small>
        </div>
        <div class='hour-card'>
            <div class='hour'>17:00</div>
            <div class='quantity17h'></div><small>113</small>
        </div>
        <div class='hour-card'>
            <div class='hour'>18:00</div>
            <div class='quantity18h'></div><small>75</small>
        </div>
        
        <small class='peak'>peak</small>
    </div>
</div>
    
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
} 

.title {
    margin-bottom: 1rem;
}

.peak::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF8C00;
  margin-right: 8px;
  margin-top: 10px;
}

.chart-content {
    background: white;
    width: 250px;
    padding: 1rem;
    border-radius: 11px; /* Raio da borda */
    border: 1px solid rgba(136, 136, 136, 0.1);
    box-shadow: 1px 1px 1px 1px rgba(133, 133, 133, 0.1);
}

body::-webkit-scrollbar {
    width: 0;
}

.hour-card {
    display: flex;
    align-items: center;
    margin: .5rem 0;
    font-size: 0.875rem;
}

.hour-card small {
    margin-left: .2rem;
}

.hour {
    width: 3rem;
}
.quantity8h,.quantity9h,.quantity10h,
.quantity11h,.quantity12h,.quantity13h,
.quantity14h,.quantity15h,.quantity16h,
.quantity17h,.quantity18h {
    font-size: 0.7rem;
    background: black;
    color: white;

    padding: .4rem .2rem;
    border-radius: 3px 6px 6px 3px ;

    text-align: right;

    box-shadow: 0 0 2px 1px rgb(219, 219, 219);

    --bar-color: #a8a8a8; /* Variavel que armazena cor das barras */
    --bar-peak-value: #FF8C00 /* Variavel que armazena a cor da barra com maior valor */
}
/* Use condicional IF para modificar a cor com DAX ex: "&IF(var = x, #ff8c00, #a8a8a8 )&"
 * adapte o valor para ficar menor que 150 com divisão, veja exemplo usando calc() abaixo */
.quantity8h { animation: anim1 1s forwards ; background: var(--bar-color);} 
@keyframes anim1 { 0%{width: 0;} 100% {width: calc( 0.99 * 101px )}} /* Width representa o valor das 10horas */ 


.quantity9h { animation: anim2 1s forwards ; background: var(--bar-color);} /* 8h */
@keyframes anim2 { 0%{width: 0;} 100% {width: 90px}}

.quantity10h { animation: anim3 1s forwards ; background: var(--bar-color);} /* 9h */
@keyframes anim3 { 0%{width: 0;} 100% {width: 89px}}

.quantity11h { animation: anim4 1s forwards ; background: var(--bar-color);} /* 11h */
@keyframes anim4 { 0%{width: 0;} 100% {width: 103px}}

.quantity12h { animation: anim5 1s forwards ; background: var(--bar-color);} /* 12h */
@keyframes anim5 { 0%{width: 0;} 100% {width: 83px}}

.quantity13h { animation: anim6 1s forwards ; background: var(--bar-color);} /* 13h */
@keyframes anim6 { 0%{width: 0;} 100% {width: 102px}}

.quantity14h { animation: anim7 1s forwards ; background: var(--bar-color);} /* 14h */
@keyframes anim7 { 0%{width: 0;} 100% {width: 77px}}

.quantity15h { animation: anim8 1s forwards ; background: var(--bar-color);} /* 15h */
@keyframes anim8 { 0%{width: 0;} 100% {width: 74px}}

.quantity16h { animation: anim9 1s forwards ; background: var(--bar-color);} /* 16h */
@keyframes anim9 { 0%{width: 0;} 100% {width: 93px}}

.quantity17h { animation: anim10 1s forwards ; background: var(--bar-peak-value); } /* 17h */
@keyframes anim10 { 0%{width: 0;} 100% {width: 113px}}

.quantity18h { animation: anim11 1s forwards ; background: var(--bar-color);} /* 18h */
@keyframes anim11 { 0%{width: 0;} 100% {width: 75px}}


</style>

