<div class="chart-container">
    <div class="chart-content">
        <strong>Peak hour</strong>
        <div class="hour-card">
            <div class="hour">10:00</div> <!-- HORA -->
            <div class="quantity10">101</div>  <!-- VALOR -->
        </div>
        <div class="hour-card">
            <div class="hour">11:00</div>
            <div class="quantity11">90</div>  
        </div>
        <div class="hour-card">
            <div class="hour">12:00</div>
            <div class="quantity12">89</div> 
        </div>
        <div class="hour-card">
            <div class="hour">13:00</div>
            <div class="quantity13">103</div> 
        </div>
        <div class="hour-card">
            <div class="hour">14:00</div>
            <div class="quantity14">83</div> 
        </div>
        <div class="hour-card">
            <div class="hour">15:00</div>
            <div class="quantity15">102</div> 
        </div>
        <div class="hour-card">
            <div class="hour">16:00</div>
            <div class="quantity16">77</div> 
        </div>
        <div class="hour-card">
            <div class="hour">17:00</div>
            <div class="quantity17">74</div> 
        </div>
        <div class="hour-card">
            <div class="hour">18:00</div>
            <div class="quantity18">93</div> 
        </div>
        <div class="hour-card">
            <div class="hour">19:00</div>
            <div class="quantity19">113</div> 
        </div>
        <div class="hour-card">
            <div class="hour">20:00</div>
            <div class="quantity20">75</div> 
        </div>
    </div>
</div>
    
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
} 

.chart-content {
    background: white;
    width: 250px;
    padding: 1rem;
    border-radius: 11px; /* Raio da borda */
border: 1px solid rgba(136, 136, 136, 0.1);
box-shadow: 1px 1px 2px 1px rgba(133, 133, 133, 0.1);
}

body::-webkit-scrollbar {
    width: 0;
}


.hour-card {
    display: flex;
    align-items: center;
    margin: .5rem 0;
    font-size: 0.875rem;
}

.hour {
    width: 3rem;
}

.quantity10,
.quantity11,
.quantity12,
.quantity13,
.quantity14,
.quantity15,
.quantity16,
.quantity17,
.quantity18,
.quantity19,
.quantity20 {
    font-size: 0.7rem;
    background: black;
    color: white;

    padding: .1rem;
    border-radius: 5px;

    text-align: right;

}

.quantity10 { width: 101 ; background: #000;} /* Use condicional IF para modificar a cor com DAX */
.quantity11 { width: 90 ; background: #000;} 
.quantity12 { width: 89 ; background: #000;} 
.quantity13 { width: 103 ; background: #000;} 
.quantity14 { width: 83 ; background: #000;} 
.quantity15 { width: 102 ; background: #000;} 
.quantity16 { width: 77 ; background: #000;} 
.quantity17 { width: 74 ; background: #000;} 
.quantity18 { width: 93 ; background: #000;} 
.quantity19 { width: 113 ; background: #FF8C00;} 
.quantity20 { width: 75 ; background: #000;} 

</style>

