<!-- Altere a var --p:80 para sua porcentagem além % de exibição -->
<div class='pie animate' style='--c: limegreen; --p:60'> 60%</div>

<style>
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
    --b: 17px;
    --w: 150px;
    width: var(--w);
    aspect-ratio: 1;
    background: RGBA(144,144,144,0.05);
    border-radius: 50%;
    border: 2px solid RGBA(144,144,144,0.05);
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #444;
}
.pie:before,
.pie:after {
    content: '';
    position: absolute;
    border-radius: 50%;
}
.pie:before {
    inset:0;
    background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
    inset:calc(50% - var(--b)/2);
    background: white;
    border: 2px solid limegreen;    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
    animation: p 1s .5s both;
}
.no-round:before {
    background-size:0 0,auto;
}
.no-round:after {
    content:none;
}
@keyframes p {
    from{--p:0}
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
}
</style>