<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
    
    <table id="colors-example-8" class="charts-css area show-labels hide-data">
        <caption> Colors Example #8 </caption>
        <thead>
        <tr>
            <th scope="col"> Month </th>
            <th scope="col"> Progress </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"> Jan </th>
            <td style="--start:0.2; --size:0.3;"><span class="data"> 30 </span></td>
        </tr>
        <tr>
            <th scope="row"> Feb </th>
            <td style="--start:0.3; --size:0.5;"><span class="data"> 50 </span></td>
        </tr>
        <tr>
            <th scope="row"> Mar </th>
            <td style="--start:0.5; --size:0.8;"><span class="data"> 80 </span></td>
        </tr>
        <tr>
            <th scope="row"> Apr </th>
            <td style="--start:0.8; --size:1;"><span class="data"> 100 </span></td>
        </tr>
        <tr>
            <th scope="row"> May </th>
            <td style="--start:1; --size:0.65;"><span class="data"> 65 </span></td>
        </tr>
        <tr>
            <th scope="row"> Jun </th>
            <td style="--start:0.65; --size:0.45;"><span class="data"> 45 </span></td>
        </tr>
        <tr>
            <th scope="row"> Jul </th>
            <td style="--start:0.45; --size:0.15;"><span class="data"> 15 </span></td>
        </tr>
        <tr>
            <th scope="row"> Aug </th>
            <td style="--start:0.15; --size:0.32;"><span class="data"> 32 </span></td>
        </tr>
        <tr>
            <th scope="row"> Sep </th>
            <td style="--start:0.32; --size:0.6;"><span class="data"> 60 </span></td>
        </tr>
        <tr>
            <th scope="row"> Oct </th>
            <td style="--start:0.6; --size:0.9;"><span class="data"> 90 </span></td>
        </tr>
        <tr>
            <th scope="row"> Nov </th>
            <td style="--start:0.9; --size:0.55;"><span class="data"> 55 </span></td>
        </tr>
        <tr>
            <th scope="row"> Dec </th>
            <td style="--start:0.55; --size:0.4;"><span class="data"> 40 </span></td>
        </tr>
        </tbody>
    </table>
</body>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#colors-example-8 {
  height: 200px;
  max-width: 650px;
  margin: 0 auto;
  --color: linear-gradient(rgb(22, 22, 22), rgba(3, 3, 3));
}

td {
    border: 1px solid rgb(255, 255, 255) !important;
}
</style>