<div class='accordion'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons:FILL'>
    <p class='title'>Marketing KPIs</p>
    <div class='accordion-item'>
        <input type='checkbox' id='accordion-1' name='accordion'>
        <label for='accordion-1' class='accordion-header'>Custo por lead (CPL) <span class='material-icons'>
            expand_less
            </span>
        </label>
        <div class='accordion-content'>
            <div class='kpi-cards'>
                <strong>Novos Clientes</strong>
                <p>12.656</p>
            </div>
            <div class='kpi-cards'>
                <strong>Investimento</strong>
                <p>R$ 50.000</p>
            </div>
            <div class='kpi-cards'>
                <strong>CPA</strong>
                <p>R$ 3,95/cliente</p>
            </div>
        </div>
    </div>
    <div class='accordion-item'>
        <input type='checkbox' id='accordion-2' name='accordion'>
        <label for='accordion-2' class='accordion-header'>ROI em publicidade <span class='material-icons'>
            expand_less
            </span>
        </label>
        <div class='accordion-content'>
            <div class='kpi-cards'>
                <strong>Investimento</strong>
                <p>R$ 5.000</p>
            </div>
            <div class='kpi-cards'>
                <strong>Vendas</strong>
                <p>R$ 14.890</p>
            </div>
            <div class='kpi-cards'>
                <strong>ROI</strong>
                <p>197,80%</p>
            </div>
        </div>
    </div>
    <div class='accordion-item'>
    <input type='checkbox' id='accordion-3' name='accordion'>
    <label for='accordion-3' class='accordion-header'>Taxa de conversão Web <span class='material-icons'>
        expand_less
        </span>
    </label>
    <div class='accordion-content'>
        <div class='kpi-cards'>
            <strong>Visitas</strong>
            <p>9.348</p>
        </div>
        <div class='kpi-cards'>
            <strong>Compras</strong>
            <p>890</p>
        </div>
        <div class='kpi-cards'>
            <strong>Taxa de conversão</strong>
            <p>9%</p>
        </div>
    </div>
</div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    font-family: 'Inter', sans-serif; /* Font Inter, remova para exibir font nativa do PowerBI - SegoeUI */
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: rgba(221, 221, 221,.7);
}

*::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200,1);
    border-radius: 5px;
}

.accordion {
    margin: .2rem 0;
}

.title {
    margin: .5rem;
    color: #727272;
    font-weight: 500;
}

.accordion-item, .accordion-header {
    display: flex;
}

.accordion-item {
    flex-direction: column;
}

.accordion-header {
    align-items: center;
    cursor: pointer;

    background: linear-gradient(45deg, #fafafa, #fdfdfd);
    color: #44d;    
    border: 1px solid rgba(100, 100, 100,.2);
    
    font-weight: bold;
    font-size: 0.875rem;
    
    width: 430px;
    text-align: left;

    padding: .5rem .7rem;
    margin: .1rem;

    border-radius: 6px;
}

.accordion-header:hover {
    transition: 300ms;
    color: white;
    background: #44f;
}

.material-icons {
    text-align: center;
    outline: 0;
}

.accordion-content {
    display: flex;
    align-items: center;
    width: 420px;
    height: 0;
    overflow: hidden;
    transition: 300ms;
    margin: 0 .2rem;
    padding: 0 .2rem;
    border-radius: 5px;
}

.kpi-cards {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background: linear-gradient(45deg, #ffffff, #f3f3f3);
    color: black;
    width: 100%;
    height: 80px;
    
    text-align: center;

    margin: 0 .2rem 0;
    
    border-radius: 6px;
    box-shadow: 0 0 2px 1px rgba(155, 155, 155,.3);
}

.kpi-cards:hover {
    transform: scale(1.05);
    transition: 300ms;
    color: white;
    background: #44f;
}

.kpi-cards strong {
    font-size: .9rem;
}

.kpi-cards p {
    margin-top: .5rem;
    font-size: .875rem;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked ~ .accordion-content {
    animation: accord .700s forwards;
}

input[type='checkbox']:checked ~ .accordion-header span {
    transform: rotateZ(180deg);
    transition: 300ms;
}


@keyframes accord {
    0% { height: 0 }
    100% { height: 100px }
}
</style>